[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

pillow = "8.3.2"
opencv-python = "4.2.0.32"
numpy = "*"
jsbeautifier = "*"
facebook-wda = "*"


[pipenv]

allow_prereleases = true
